h4 {
	margin: 0;
}

h4.cacap-section-header {
	margin: 2em 0 .5em;
	font-size: 1.3em;
	font-style: italic;
	color: #666;
}

.cacap-admin {
	h2 {
		margin-bottom: 1em;
	}
}

.cacap-header {
	width: 80%;
	background: #fff;
	border-radius: 2px;
	border: 1px solid #ccc;
	padding: 10px;
}

.cacap-hero {
	width: 75%;
	float: left;
	margin-right: 10px;
}

.cacap-avatar {
	text-align: right;
}

.cacap-available-fields {
	clear: both;
}

.cacap-droppable.drop-hover {
	border: 1px dashed #aaa;
	background: #ccc;
}

#available-fields, .cacap-droppable, .cacap-profile-edit-columns > div > ul {
	min-height: 47px;
	li {
		list-style-type: none;
		width: 350px;
		padding: 5px 10px;
		margin: 5px;
		background: #fefefe;
		height: 25px;
		border-radius: 2px;
		border: 1px solid #ccc;
	}
}

#available-fields li {
		float: left;
		cursor: move;
}

.ui-sortable {
	cursor: move;
}

.not-empty {
	.cacap-inner-label {
		display: none;
	}
}

p.cacap-instructions {
	font-style: italic;
	color: #666;
	margin: 2em 0 .5em 0;
}

p.cacap-inner-label {
	color: #999;
	font-weight: bold;
	text-size: .9em;
	margin: .5em;
}

.cacap-row-vitals {
	min-height: 65px;
	padding: 7px;
	margin: 14px 0;
}

.cacap-droppable {
	border: 1px solid #ccc;
	background: #dadada;
}

#cacap-vitals {
	height: 100%;
	min-height: 54px;
}

a.remove-vital {
	text-decoration: none;
	color: #f00;
	margin: 4px 8px;
}

.cacap-profile-edit-columns {
	clear: both;

	& > div {
		float: left;
		width: 400px;
		margin-right: 20px;
	}
}
