/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$header_primary_text_color: #fff;
$header_secondary_text_color: #6f6f6f;
$link_color: #2ba6cb;
$body_primary_text_color: #000;
$button_text_color: #1d1d1d;
$button_blue: #2BA6CB;
$link_pink: #ff4466;
$activity_color: #ffeaa6;
$light_gray: #dadada;

$font: "Helvetica Neue", Helvetica, Arial, sans-serif;

$col_width_threequarters: 75%;
$col_width_onequarter: 25%;
$col_width_twothirds: 66.666%;
$col_width_onethird: 33.333%;
$col_width_narrow: 10em;

$widget_tb_padding: 25px;
$widget_lr_padding: 15px;

$tab_height: 40px;
$row_width: 940px;

$edit_hover_color: #ffff99;

h1, h2, h3, h4, h5, h6 {
	color: #222222;
	font-family: $font;
	font-style: normal;
	font-weight: bold;
	line-height: 1.1;
	margin-bottom: 14px;
	margin-top: 14px;
	text-rendering: optimizelegibility;
}

p {
	line-height: 1.6em;
	margin-bottom: 17px;
}

a {
	color: $link_color;
}

body.no-js .hide-if-no-js {
	display: none;
}

body.js .hide-if-js {
	display: none;
}

body.cacap .cacap-row .button,
body.cacap .cacap-row input[type="button"],
body.cacap .cacap-row input[type="submit"] {
	background: none repeat scroll 0 0 $button_blue;
	border: 1px solid #1E728C;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	margin: 0;
	padding: 4px 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	transition: background-color 0.15s ease-in-out 0s;
	width: auto;

	&.secondary {
	  background-color: #E9E9E9;
	  border: 1px solid #C3C3C3;
	  color: #1D1D1D;
	}

	a {
		text-decoration: none;
		color: #fff;
	}
}


body.cacap, body.bp-user {
	font-family: $font;
	font-size: 14px;
	background: #fff;
	width: 100%;
	margin: 0 auto;

	h1 {
		font-size: 3em;
	}

	h4 {
		font-size: 1.25em;
	}
}

body.cacap #cacap-header .cacap-hero-row .cacap-edit-buttons {
	position: absolute;
	bottom: 20px;
	text-align: right;
	width: 100%;

	.button {
		background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
		border: 1px solid #ccc;
		box-shadow: none;
		border-radius: 3px;
		color: #1d1d1d;
		font-size: 12px;
		font-weight: 400;
		padding: 4px 10px;
		line-height: 16px;
	}
}

// Repeated because I hate CSS
body.cacap .cacap-edit-buttons {
	position: absolute;
	bottom: 20px;
	text-align: right;
	width: 100%;

	.button {
		background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
		border: 1px solid #ccc;
		box-shadow: none;
		border-radius: 3px;
		color: #1d1d1d;
		font-size: 12px;
		font-weight: normal;
		padding: 4px 10px;
		line-height: 1.35em;
	}
}

body.cacap .cacap-edit-buttons.cacap-edit-buttons-bottom {
	position: relative;
	bottom: auto;
	width: 940px;
	margin: 2em auto 0 auto;
	color: #777;
}

.cacap-edit-buttons input,
.cacap-edit-buttons a.button {
	color: #1d1d1d;
}

div.cleardiv {
	padding: 0;
	margin: 0;
	height: 0;
	clear: both;
}

.cacap-row {
	padding-top: 25px;
	margin: 0 auto;
	max-width: 100%;
	min-width: 768px;
	width: $row_width;

	/* Next two declarations help to clear the row */
	&:after {
		clear: both;
	}

	&:before, &:after {
		content: " ";
		display: table;
	}

	&.cacap-row-edit-button {
		padding: 15px 0 0 0;
	}
}

body.short-header {
	#cacap-header {
		height: 80px;
	}
}

// Need the body.cacap leader to override other styles
body.cacap #cacap-header .cacap-hero-row.stuck {
	.cacap-edit-buttons {
		clear: both;
		position: relative;
		width: 940px;
		margin: 0 auto;
		padding-top: 20px;
	}
}

#cacap-header {
	background: transparent url('../images/black_linen_v2.png');
	padding: 0 10px 30px;
	box-shadow: 0 12px 12px -6px #000;

	* {
		color: $header_primary_text_color;
	}

	a {
		color: $link_color;
		text-decoration: none;
	}

	.cacap-char-count-gloss {
		text-align: right;
		font-size: .75rem;
		margin-bottom: .5em;
		font-style: italic;
	}

	span.cacap-char-count-warning {
		display: none;
	}

	.cacap-length-red span.cacap-char-count {
		color: #f00;
	}

	.cacap-length-red span.cacap-char-count-warning {
		display: block;
	}

	.cacap-length-yellow span.cacap-char-count {
		color: yellow;
	}

	.cacap-hero-row {
		position: relative;
		padding-bottom: 50px;

		& > div > div {
			float: left;
		}

		a {
			color: $link_color;
			text-decoration: none;
		}

		.button > a {
			color: #fff;
		}

		&.stuck {
			position: fixed;
			background: transparent url('../images/black_linen_v2.png');
			width: 100%;
			padding: 35px 0 10px 10px;
			margin-left: -20px;
			border-bottom: none;
			top: 0;
			z-index: 1000;

			.cacap-sticky-dummy {
				width: 940px;
				padding-top: 20px;
				margin: 0px auto;
			}

			.activity,
			#change-avatar-button {
				display: none;
			}

			.cacap-avatar img.avatar {
				height: 80px;
				width: 80px;
				float: right;
			}
		}
		&.stuck2 {
			background: transparent url('../images/black_linen_v2.png');
			width: 100%;
			position: fixed;
			padding: 35px 0 10px 10px;
			margin-left: -20px;
			border-bottom: none;
			top: 0;
			z-index: 1000;

			.cacap-sticky-dummy {
				width: 940px;
				margin: 0px auto;
			}

			.cacap-hero *,
			.cacap-avatar * {
				display: none;
			}

			.cacap-hero h1,
			.cacap-hero h1 a,
			.cacap-avatar img.avatar {
				display: inherit;
				z-index: 1000;
			}

			.cacap-avatar img.avatar {
				height: 80px;
				width: 80px;
				float: right;
			}
		}
	}

	.cacap-hero-row-sticky {
		padding-top: 0;
		width: 100% !important;
	}

	.cacap-hero {
		width: $col_width_threequarters;

		p {
			font-size: 1.5em;
		}
	}

	.cacap-at-name {
		font-size: .5em;

		.cacap-at-name-tooltip {
			padding: 4px 6px;
		}
		.cacap-at-name-tooltip:hover .cacap-tooltip {
			display: block;
			color: $body_primary_text_color;
			text-align: left;
			width: 140px;
		}
	}

	.cacap-short-aboutme {
		color: $header_secondary_text_color;
		font-weight: 300;
		line-height: 1.3;
		margin-bottom: 17px;
	}

	.cacap-avatar {
		width: 130px;
		float: right !important;

		& > * {
			margin-bottom: 1em;
		}

	}

	.cacap-avatar-buttons-row {
		padding-top: 10px;
	}

	.cacap-avatar-buttons {
		float: right;
		width: 130px;
	}

	.activity {
		color: $activity_color;
		font-size: 0.8rem;
	}

	.cacap-edit-submit {
		color: #fff;
	}

	.cacap-vitals-row {
		border-top: 1px solid $header_primary_text_color;
	}

	#cacap-vitals {
		& > dt,
		& > dd {
			display: block;
			padding: 7px 10px 7px 5px;
			margin: 0 10px 15px 0;
		}

		dt {
			width: $col_width_narrow;
			float: left;
			border-right: 1px solid $header_primary_text_color;
			margin-right: 20px;
		}

		dd {
		}

		dd.cacap-vitals-contact > * {
			margin-top: -8px;
		}
	}

	.cacap-bp-profile-fields {
		input[type="text"], textarea {
			color: $body_primary_text_color;
			margin-bottom: 12px;
			width: 100%;
			border-radius: 2px 2px 2px 2px;
			box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
		}

		input[type="text"] {
			height: 32px;
		}

		label, span.label {
			display: block;
			color: $header_secondary_text_color;
			margin-bottom: 3px;
		}

		input[type="radio"], input[type="checkbox"] {
			margin: .3em 0;
		}

		.field-visibility-settings legend,
		.field-visibility-settings-toggle,
		p.description {
			margin-bottom: 0;
		}

		.field-visibility-settings {
			display: none;
		}

		.cacap-half-col {
			float: left;
			width: 48%;
		}

		#cacap-half-col-1 {
			margin-right: 4%;
		}

		.current-visibility-level {
			font-weight: bold;
			color: $link_pink;
		}

		div.editfield {
			margin-bottom: 2.5em;
		}
	}
}

#cacap-tabs {
	display: block;
	height: $tab_height;
	list-style: none outside none;
	margin: 20px 0;
	padding: 0;

	a {
		text-decoration: none;
		color: $header_secondary_text_color;
		display: block;
		height: $tab_height;
		line-height: $tab_height;
		padding: 0 23px;
	}

	ul {
		border-bottom: 1px solid #E6E6E6;
		height: 100%;
	}

	li {
		display: block;
		float: left;
		text-align: center;

		&.current-tab {
			margin-bottom: -1px;
			border-top: 1px solid #e6e6e6;
			border-left: 1px solid #e6e6e6;
			border-right: 1px solid #e6e6e6;

			a {
				font-weight: bold;
				color: #3c3c3c;
				border-bottom: 1px solid #e6e6e6;
				border-bottom-color: #fff;
				-webkit-border-radius: 5px 5px 0 0;
				-moz-border-radius: 5px 5px 0 0;
				border-radius: 5px 5px 0 0;
			}
		}
	}
}

#cacap-edit-button {
	float: right;
	width: 100px;
	z-index: 1; // hack
}

#cacap-body {
	padding: 50px 0 100px 0;
}

.cacap-widget {
	margin-bottom: 20px;
}

.cacap-widget-title {
	width: $col_width_onethird;
	float: left;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 900;
}

.cacap-widget-content {
	padding-left: $col_width_onethird;
	min-height: 1.5em;

	& > div {
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

#cacap-widget-list {
	& > li {
		overflow: hidden; /* Children are floated */
		padding: 0 $widget_lr_padding;
		position: relative;

		& > div {
			margin: $widget_tb_padding 0;
		}
	}

	&.currently-editing {
		.cacap-click-to-edit.cacap-widget-section-editable {
			border: 2px solid transparent;

			&.editing {
				border: 2px solid $light_gray;
			}
		}
	}

	.cacap-click-to-edit.cacap-widget-section-editable {
		border: 2px dashed $light_gray;
	}
}

body.profile-edit {
	#cacap-widget-list {
		& > li {
			outline: 1px solid #555555;
			margin: 0.5em 0;
		}

		.ui-state-highlight {
			outline: 1px dashed #555;
			height: 75px;
		}
		.ui-helper-hidden-accessible {
			display: none;
		}

	}
}

.deprecated-para {
	opacity: .75;
	font-size: .8rem;
	font-style: italic;
}

.cacap-tooltip {
	color: $body_primary_text_color;
	font-weight: normal;
	padding: 3px;
	border-radius: 1px;
	line-height: 1.0rem;
	position: absolute;
	font-size: .7rem;
	background: #fff;
	border: 1px solid #666;
	opacity: 2;
	color: #000;
	display: none;
}

#cacap-user-widget-new {
	background-color: #eee;
	width: 100%;
	border: 1px dashed #555;
	padding: 10px 0;

	#cacap-user-widget-new-content {
		width: $row_width;
		margin: 0 auto;
	}

	#cacap-new-widget-types {
		overflow: hidden;
		height: 100px;

		a {
			text-decoration: none;
			color: $link_pink;
		}

		li {
			float: left;
			width: 100px;
			display: block;
			text-align: center;
			border: 1px solid #777;
			height: 90%;
			margin-right: 10px;
			padding: 3px;
			cursor: pointer;

			&.cacap-has-max {
				opacity: .4;

				.cacap-has-max-tooltip {
					position: absolute;
					font-size: .9em;
					height: 1.4em;
					background: #fff;
					border: 1px solid #666;
					opacity: 2;
					color: #000;
					display: none;
				}

				&:hover {
					background: transparent;
					cursor: default;

					.cacap-has-max-tooltip {
						display: block;
					}

					a {
						color: $link_pink;
						cursor: default;
					}
				}
			}

			&:hover {
				background: $button_blue;

				a {
					color: #fff;
				}
			}

			.cacap-widget-type-name {
				margin-top: 3px;
				display: block;
			}
		}
	}
}

#cacap-widget-prototypes {
	display: none;
}

#cacap-edit {
	.cacap-drag-handle {
		position: absolute;
		top: 0;
		width: 20px;
		height: 100%;
		cursor: move;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: -$widget_lr_padding;
		margin-right: 20px;
		background-color: gray;
		background-image:
			repeating-linear-gradient(
				45deg,
				transparent,
				transparent 5px,
				rgba(255,255,255,.5) 5px,
				rgba(255,255,255,.5) 10px
			);
	}

	.editable-content-stash {
		display: none;
	}

	.cacap-widget-title {
		width: 28%; /* Leave space for the dashed outlines */
		margin-left: 20px; /* Leave space for absolutely-positioned drag handle */
	}

	.cacap-click-to-edit {
		padding: 0;
		position: relative;

		-webkit-transition: background-color .3s ease-in-out;
		-moz-transition: background-color .3s ease-in-out;
		-o-transition: background-color .3s ease-in-out;
		-mz-transition: background-color .3s ease-in-out;
		transition: background-color .3s ease-in-out;
		background-color: transparent;

		&.cacap-widget-section-editable:hover {
			background: $edit_hover_color;
		}

		&.cacap-widget-content {
			margin-left: 330px;
		}

		&.editing {
			padding: 10px;

			/* No yellow hover when editing */
			&:hover {
				background: transparent;
			}

			&.cacap-widget-content {
				margin-top: 80px;
			}

			margin-bottom: 50px;

			article.editable-content {
				padding: 0;
			}

			.cacap-positions-inputs {
				display: block;
				overflow: hidden;

				.cacap-position-add-new-title {
					margin-bottom: 10px;
				}

				ul {
					margin-bottom: 15px;
					margin-left: 30px;
					padding: 5px 0;

					.cacap-position-drag-handle {
						width: 20px;
						height: 100%;
						position: absolute;
						margin-right: 8px;
						background-color: gray;
						background-image:
							repeating-linear-gradient(
								45deg,
								transparent,
								transparent 5px,
								rgba(255,255,255,.5) 5px,
								rgba(255,255,255,.5) 10px
							);
						cursor: move;
					}

					li {
						margin-bottom: 14px;
						border: 1px solid $light_gray;
						box-shadow: -2px 2px 4px 1px #aaa;
						position: relative;
					}

					li.ui-state-highlight {
						outline: 1px dashed $light_gray;
						box-shadow: none;
						height: 110px;
					}

					table.cacap-position {
						height: 100px;
						margin: 5px 0 0 40px;
						width: 100px; /* Total hack to make it not break to next line - I hate CSS */

						tr td {
							padding: 3px;

							select, input {
								width: 300px;
							}
						}
					}
				}
			}

			.cacap-positions-static-text {
				display: none;
			}

			.cacap-ok-cancel {
				display: block;
				position: absolute;
				bottom: -50px;
				left: 0;
				margin-bottom: 10px;
			}

			&.warn {
				 -webkit-transition: background-color .3s ease-in-out;
				 -moz-transition: background-color .3s ease-in-out;
				 -o-transition: background-color .3s ease-in-out;
				 -mz-transition: background-color .3s ease-in-out;
				 transition: background-color .3s ease-in-out;
				 background-color: #F57171;
			}
		}
	}

	/* Overrides for padding rules relating to contentEditable */
	.cacap-widget-rss,
	.cacap-widget-twitter,
	.cacap-widget-positions {
		.cacap-widget-content.cacap-click-to-edit {
			padding: 10px;
		}
	}

	.cacap-widget-rss {
		.cacap-click-to-edit.editing.cacap-widget-content {
			margin-top: 25px;
		}
	}

	.cacap-ok-cancel {
		display: none;
		.button {
			padding: 5px 10px;
			font-size: 12px;
			margin: 5px 5px 0 0;
		}
	}

	article.editable-content {
		min-height: 2em;
		padding: 10px;
	}

	.cacap-positions-inputs {
		display: none;
	}

	.cacap-edit-content-input {
		textarea {
			width: 100%;
		}
	}

	.cacap-widget-remove {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 12px;
		padding: 5px 10px;
	}

	label {
		display: block;
		float: left;
		width: 120px;
	}

	p.description {
		font-size: .8rem;
		font-style: italic;
		font-weight: normal;
		text-transform: none;
	}

	.cacap-widget-positions {
		.cacap-show-on-edit > ul {
			margin-bottom: 2em;
			padding-left: 20px;
		}
		input {
			height: auto !important;
			margin-top: .5em;
			width: 300px;
		}

		a.cacap-delete-position {
			text-decoration: none;
			font-weight: bold;
			position: absolute;
			top: 0;
			right: 0;
			padding: 1px 2px 3px;
			border: 1px solid $light_gray;
			color: #aaa;
			line-height: 1ex;
			font-size: 14px;
		}
	}
}

.cacap-positions-list {
	li {
		margin-bottom: 2em;
	}
	.cacap-positions-title {
		font-style: italic;
		padding-right: 20px;
	}
	.cacap-positions-college {
		display: block;
		margin-top: .7em;
	}
}

/* RSS WIDGETS
/********************************************/

.cacap-rss-items {
	li {
		margin-bottom: 2em;
	}

	.cacap-feed-item-title {
		margin-bottom: 1em;
	}

	.cacap-feed-item-meta {
		font-size: .8em;
		color: #666;
		font-style: italic;
		margin-top: .5em;

		& > span {
			margin-right: 30px;
		}
	}
}

.ui-autocomplete {
	background: #fff;
	border: 1px solid #aaa;
	padding: 3px;
	width: 300px;

	li.ui-menu-item {
		a {
			display: block;
			width: 296px;
			padding: 2px;

			&.ui-state-focus {
				background: #ccc;
			}
		}
	}
}

.commons-profile {
	div#item-body {
		padding-bottom: 3em;
	}

	#cacap-body {
		padding: 15px 0 0 0;
		position: relative;
		clear: both;
	}

	div.profile h4 {
		background-color: #e6e6e6;
		padding: 8px;
		margin-top: 0;
	}
}

/* Hallo */

body.cacap .cacap-widget-content {
	b {
		font-weight: bold;
	}

	i {
		font-style: italic;
	}

	ol, ul {
		margin-left: 40px;
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.2em;
	}
}

/* Exceptions for the positions widget */
body.cacap .cacap-widget-positions .cacap-widget-content,
body.cacap .cacap-widget-positions article {
	ol, ul {
		margin-left: 0;
		list-style-type: none;
	}
}

body.cacap .cacap-widget-content .hallotoolbar {
	width: 100%;
	position: absolute;
	top: -45px;

	i {
		font-style: normal;
	}

	button {
		margin-bottom: 8px;
	}
}

/* Media queries */
@media screen and (max-width:650px) {
	#cacap-header .cacap-hero {
		width: 50%;
	}

	.cacap-widget-title {
		float: none;
		margin: auto 10px 10px 10px;
		width: auto;
	}

	.cacap-widget-content {
		margin: auto 20px;
		padding-left: 0;
	}

	#cacap-header {
		#cacap-vitals {
			dt {
				border-right: none;
				float: none;
				margin-bottom: 8px;
				padding-bottom: 0;
			}

			dd {
				margin-bottom: 15px;
			}

			dd.cacap-vitals-contact {
				line-height: 40px;
				margin-bottom: 0;
				margin-top: 16px;
				overflow: hidden;
			}
		}
	}
}

@media screen and (max-width: 940px){
	.cacap-row{
		min-width:0;
	}
	#cacap-header .cacap-hero-row.stuck {
		left: 0;
		padding: 0;
		margin-left: 0;

		.cacap-sticky-dummy{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width:auto;
			padding:56px 10px 0;
		}
	}
	#cacap-header .avatar {
		box-sizing: border-box;
	}
	body.cacap #cacap-header .cacap-hero-row.stuck .cacap-edit-buttons {
		width: auto;
		padding-right: 10px;
	}
}
/* Breakpoint for WP Admin Bar */
@media screen and (max-width: 590px) {
	body.cacap h1, body.bp-user h1 {
		font-size: 2em;
	}
}
/* Another breakpoint for WP Admin Bar */
@media screen and (max-width: 791px) {
	#cacap-header .cacap-hero-row {
		padding-top: 56px;
	}
}

/* Don't let the login bar lose its fixed positioning on user pages */
@media screen and ( max-width:600px ) {
	body.bp-user #wpadminbar {
		position: fixed;
	}
}

@media screen and (max-width: 650px){
	#cacap-header .cacap-hero{
		width:50%;
	}
}
